mbkautheVar={ "APP_NAME": "blog", "Main_SECRET_TOKEN": , "SESSION_SECRET_KEY": "", "IS_DEPLOYED": "f", "LOGIN_DB": "postgres://", "MBKAUTH_TWO_FA_ENABLE": "true", "COOKIE_EXPIRE_TIME": 2, "DOMAIN": "mbktechstudio.com", "loginRedirectURL": "/dashboard/posts" }
NEON_POSTGRES=postgres://