---
const today = new Date()
---

<footer
	class='flex flex-col justify-center items-center w-full px-4 py-4 border-t-2 text-center space-y-2'
>
	<p>
		&copy; {today.getFullYear()}
		<a href='https://github.com/MIbnEKhalid'>MBK Tech Studio</a>. All Rights Reserved
	</p>
	<p>
		<a href='https://privacy.mbktechstudio.com/' target='_blank'>Terms &amp; Conditions</a>
		 &nbsp;|&nbsp;
		<a href='https://mbktechstudio.com/FAQs' target='_blank'>FAQs</a> &nbsp;|&nbsp;
		<a id='support-link' href='https://mbktechstudio.com/Support/' target='_blank'
			>Support & Contact</a
		>
	</p>
</footer>

<script>
	// Check if the URL matches the blog post pattern
	const currentURL = window.location.href
	if (currentURL.startsWith('https://blog.mbktechstudio.com/post/')) {
		// Retrieve and format the page title
		let pageTitle = document.title.split('•')[0].trim() // Extract text before '•' and trim whitespace
		const formattedTitle = pageTitle
			.toLowerCase() // Convert to lowercase
			.replace(/[^\w\s-]/g, '') // Remove non-alphanumeric characters (except spaces and hyphens)
			.replace(/\s+/g, '-') // Replace spaces with hyphens
			.trim() // Remove leading/trailing whitespace

		// Construct the support link
		const supportLink = `https://mbktechstudio.com/Support/?Blog=${formattedTitle}`

		// Update the "Support & Contact" link
		const supportAnchor = document.getElementById('support-link')
		if (supportAnchor) {
			supportAnchor.href = supportLink
		}
	}
</script>
