---
 
const apiKey = import.meta.env.NetlifyAPIkeyProd;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Welcome to Astro</h1>
  <script>
    const apiKey = `${apiKey}`;
    console.log('API Key EnvVar:', apiKey);
  </script>
</body>
</html>